.bg-main {
    background-color: #ebebebbe;
    color: #2e2e2e;
}

.bg-secondery {
    background-color: #2e2e2e;
}

.nav-tabs>li.active>a {
    color: rgb(139, 15, 40);
}

.nav-tabs>li>a {
    color: crimson;
}

.nav-pills>.active>a,
.nav-pills>.active>a:hover {
    background-color: crimson;
}

.search-hover {
    border: 1px solid #ccc;
    outline: none;
    background-size: 22px;
    background-position: 13px;
    border-radius: 10px;
    width: 50px;
    height: 50px;
    padding-left: 55px;
    transition: all 0.5s;
}

.search-hover:hover {
    width: 300px;
    padding-left: 50px;
}