.bg-main {
    background-color: #ebebebbe;
    color: #2e2e2e;
}

.bg-secondery {
    background-color: #2e2e2e;
}

.nav-tabs>li.active>a {
    color: rgb(139, 15, 40);
}

.nav-tabs>li>a {
    color: crimson;
}

.nav-pills>.active>a,
.nav-pills>.active>a:hover {
    background-color: crimson;
}